.page-section {
    background: #fff;
}

.section {
    position: relative;
    padding: 70px 0;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}}
.container:before, .container:after {
    content: " ";
    display: table;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:before, .row:after {
    content: " ";
    display: table;
}
@media (min-width: 992px){
.col-md-8 {
    width: 66.66667%;
}}

@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
#primary {
    background: #fff;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
header.page-header {
    display: none;
}

.page-header {
    padding-bottom: 5px;
    margin-top: 0;
    margin-bottom: 20px !important;
    border-bottom: none;
}
.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #eeeeee;
}
.page-header h1 {
    margin-top: 0;
    font-size: 25px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "circular";
    letter-spacing: 1px;
}
h1, .h1 {
    font-size: 36px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
article.hentry {
    margin-bottom: 30px;
}

.hentry {
    margin: 0 0 1.5em;
}
article {
    background: #fff;
    margin-bottom: 30px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.media-holder {
    position: relative;
    display: block;
    overflow: hidden;
    height: 0;
    padding-bottom: 74%;
    z-index: 9;
}
embed, iframe, object {
    max-width: 100%;
}
.media-holder iframe, .media-holder embed, .media-holder object, .media-holder video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}
header.entry-header h2.entry-title {
    font-size: 30px;
    margin-top: 20px;
}
h2 {
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "circular";
    letter-spacing: 1px;
}
h2, .h2 {
    font-size: 30px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
a {
    background-color: transparent;
}
header.entry-header h2.entry-title a {
    color: #272e37;
}
a, button, .btn, html input[type="button"], input, input[type="reset"], input[type="submit"] {
    outline: 0;
}
a {
    text-decoration: none;
    transition: all .3s ease;
}
article .entry-meta, .post-wrap .entry-meta {
    margin-bottom: 10px;
}
article .entry-meta div {
    display: inline-block;
    margin-right: 15px;
}
a:visited {
    color: #25ca6f;
}
article .entry-meta span {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
    color: #888;
}
article .entry-meta span.author-img img {
    width: 25px;
}
.author-img img {
    border-radius: 50%;
}
article img {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
a {
    color: #25ca6f;
    text-decoration: none;
    transition: all .3s ease;
}
article .entry-meta i {
    margin-right: 8px;
    font-size: 17px;
    color: #25ca6f;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-comments-o:before {
    content: "";
}
.editor-styles-wrapper, .entry-content {
    counter-reset: footnotes;
}
.page-content, .entry-content, .entry-summary {
    margin: 1em 0 0;
    font-family: "Quicksand";
    font-size: 16px;
    font-weight: 400;
    color: #707070;
    line-height: 26px;
}
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
    content: "";
    display: table;
}
footer.entry-footer {
    margin-top: 10px;
}

article footer {
    background: none;
}
footer {
    background: #343b42;
    color: #c8c8c8;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
span.cat-links, span.tags-links {
    font-weight: 500;
    color: #707070;
}
span.cat-links, span.tags-links {
    display: block;
    margin-bottom: 5px;
}
span.cat-links a, span.tags-links a {
    font-size: 15px;
    border: 1px solid #eee;
    color: #62646c;
    display: inline-block;
    font-weight: normal;
    line-height: 15px;
    margin-bottom: 10px;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 3px;
    margin-right: 5px;
    -moz-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
span.comments-link {
    border: 1px solid #ddd;
    font-size: 13px;
    padding: 3px 10px;
    border-radius: 5px;
    display: none;
}
span.comments-link a {
    color: #25ca6f;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
/* ------------- */
.wp-block-group {
    box-sizing: border-box;
}
#secondary h2 {
    color: #333;
}
h2 {
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "circular";
    letter-spacing: 1px;
}
h2, .h2 {
    font-size: 30px;
}
h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    clear: both;
}
#secondary .widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.wp-block-latest-posts {
    box-sizing: border-box;
}
#secondary .widget ul li {
    padding-bottom: 8px;
    position: relative;
    margin-bottom: 7px;
}

.widget ul li:first-child {
    padding-top: 0 !important;
}
.wp-block-latest-posts.wp-block-latest-posts__list li {
    clear: both;
}
.widget ul li {
    padding: 8px 0 0 !important;
}
#secondary .widget ul li a {
    color: #62646c;
    text-decoration: none;
}
a {
    background-color: transparent;
}
ol.wp-block-latest-comments {
    padding-left: 0;
}

ol.wp-block-latest-comments {
    box-sizing: border-box;
    margin-left: 0;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
/* ol {
    list-style: decimal;
} */
ul, ol {
    margin: 0 0 1.5em 3em;
}
.wp-block-latest-comments__comment {
    list-style: none;
    margin-bottom: 1em;
}
article:last-child {
    margin-bottom: 0;
}

article {
    background: #fff;
    margin-bottom: 30px;
}
article footer {
    background: none;
    color: #62646c;
    text-decoration: none;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

footer {
    background: #343b42;
    color: #c8c8c8;
}
a, button, .btn, html input[type="button"], input, input[type="reset"], input[type="submit"] {
    outline: 0;
}

a {
    color: #25ca6f;
    text-decoration: none;
    transition: all .3s ease;
}
a:visited {
    color: #25ca6f;
}
.search-form {
    position: relative;
}
.search-form {
    width: 100%;
}
.search-form label {
    width: 71%;
    margin-bottom: 0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
.search-form .search-field {
    width: 100%;
    border: 1px solid #eee !important;
    padding: 9px 23px !important;
    outline: 0;
    font-weight: 400;
    background: #fff;
    height: auto;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 50px;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.search-form .search-submit {
    position: absolute;
    right: 1px;
    top: 0;
    box-shadow: none !important;
    font-size: 15px;
    border-radius: 0 !important;
    background: #25ca6f;
    transition: all .5s ease-in-out 0s;
    border: none;
    color: #fff;
    height: 50px;
    display: inline-block;
    padding: 15px 13px;
    margin-left: 0;
    border: none;
    line-height: 21px;
    width: 30%;
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
#secondary .widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.wp-block-archives {
    box-sizing: border-box;
}
#secondary .widget ul li {
    padding-bottom: 8px;
    position: relative;
    margin-bottom: 7px;
}

.widget ul li:first-child {
    padding-top: 0 !important;
}
.widget ul li {
    padding: 8px 0 0 !important;
}
#secondary .widget ul li a {
    color: #62646c;
    text-decoration: none;
}
.wp-block-categories {
    box-sizing: border-box;
}
#secondary .widget .widget-title {
    position: relative;
}

#secondary .widget .widget-title {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 25px;
}
#secondary .widget .widget-title:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 2px solid #f2f2f2;
}
#secondary .widget .widget-title:after {
    content: "";
    display: block;
    width: 50px;
    border-bottom: 2px solid #25ca6f;
    margin: 19px auto 24px 0;
    z-index: 1;
    position: relative;
}
.rp4wp-related-job_listing>ul li.job_listing, .rp4wp-related-job_listing>ul li.no_job_listings_found, ul.job_listings li.job_listing, ul.job_listings li.no_job_listings_found {
    border-bottom: 1px solid #eee;
    list-style: none outside;
    margin: 0;
    padding: 0;
}
#secondary .widget ul li a {
    color: #62646c;
    text-decoration: none;
    font-family: "Quicksand";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}

.widget ul.job_listings li.job_listing a {
    padding: 1em 0;
}
.rp4wp-related-job_listing > ul li.job_listing a, .rp4wp-related-job_listing > ul li.no_job_listings_found a, ul.job_listings li.job_listing a, ul.job_listings li.no_job_listings_found a {
    padding: 0;
    line-height: inherit;
    padding: 0 20px;
    position: initial;
}
.rp4wp-related-job_listing > ul li.job_listing a, .rp4wp-related-job_listing > ul li.no_job_listings_found a, ul.job_listings li.job_listing a, ul.job_listings li.no_job_listings_found a {
    padding: 0;
    line-height: auto;
    padding: 0 20px;
}
.rp4wp-related-job_listing>ul li.job_listing a, .rp4wp-related-job_listing>ul li.no_job_listings_found a, ul.job_listings li.job_listing a, ul.job_listings li.no_job_listings_found a {
    zoom: 1;
    border: 0;
    display: block;
    line-height: 1.5em;
    overflow: hidden;
    padding: 1em 1em 1em 2em;
    position: relative;
    text-decoration: none;
}
.widget ul.job_listings li.job_listing .content {
    overflow: hidden;
}
.widget ul.job_listings li.job_listing .position {
    float: none;
    padding: 0;
    width: auto;
}

.rp4wp-related-job_listing>ul li.job_listing a div.position, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position, ul.job_listings li.job_listing a div.position, ul.job_listings li.no_job_listings_found a div.position {
    float: left;
    line-height: 1.5em;
    padding: 0 0 0 42px;
    width: 55%;
}
.rp4wp-related-job_listing>ul li.job_listing a div.location, .rp4wp-related-job_listing>ul li.job_listing a div.position, .rp4wp-related-job_listing>ul li.job_listing a ul.meta, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.location, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position, .rp4wp-related-job_listing>ul li.no_job_listings_found a ul.meta, ul.job_listings li.job_listing a div.location, ul.job_listings li.job_listing a div.position, ul.job_listings li.job_listing a ul.meta, ul.job_listings li.no_job_listings_found a div.location, ul.job_listings li.no_job_listings_found a div.position, ul.job_listings li.no_job_listings_found a ul.meta {
    box-sizing: border-box;
}
ul.job_listings li.job_listing a div.position h3 {
    font-size: 20px;
}

.rp4wp-related-job_listing>ul li.job_listing a div.position h3, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position h3, ul.job_listings li.job_listing a div.position h3, ul.job_listings li.no_job_listings_found a div.position h3 {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
.widget ul.job_listings li.job_listing ul.meta {
    float: none;
    margin: 0;
    padding: 0;
    text-align: left;
    width: auto;
}

.rp4wp-related-job_listing>ul li.job_listing a div.location, .rp4wp-related-job_listing>ul li.job_listing a div.position, .rp4wp-related-job_listing>ul li.job_listing a ul.meta, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.location, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position, .rp4wp-related-job_listing>ul li.no_job_listings_found a ul.meta, ul.job_listings li.job_listing a div.location, ul.job_listings li.job_listing a div.position, ul.job_listings li.job_listing a ul.meta, ul.job_listings li.no_job_listings_found a div.location, ul.job_listings li.no_job_listings_found a div.position, ul.job_listings li.no_job_listings_found a ul.meta {
    box-sizing: border-box;
}
.widget ul.job_listings li.job_listing ul.meta li {
    display: inline;
    float: none;
    font-weight: 400;
    margin: 0 0.5em 0 0;
    padding: 0;
}
.rp4wp-related-job_listing>ul li.job_listing a .meta li, .rp4wp-related-job_listing>ul li.no_job_listings_found a .meta li, ul.job_listings li.job_listing a .meta li, ul.job_listings li.no_job_listings_found a .meta li {
    display: block;
    list-style: none outside;
    margin: 0;
}
/* .widget ul.job_listings li.job_listing ul.meta li:after {
    content: "â€£";
    padding: 0 0 0 0.5em;
} */
#secondary .widget ul li:last-child {
    margin-bottom: 0;
}

#secondary .widget ul li {
    padding-bottom: 8px;
    position: relative;
    margin-bottom: 7px;
}
.widget ul.job_listings li.job_listing ul.meta li {
    display: inline;
    float: none;
    font-weight: 400;
    margin: 0 0.5em 0 0;
    padding: 0;
}
.widget ul.job_listings li.job_listing ul.meta li:last-child:after {
    content: "";
}

/* .widget ul.job_listings li.job_listing ul.meta li:after {
    content: "â€£";
    padding: 0 0 0 0.5em;
} */
.rp4wp-related-job_listing>ul li.job_listing a div.position h3, .rp4wp-related-job_listing>ul li.no_job_listings_found a div.position h3, ul.job_listings li.job_listing a div.position h3, ul.job_listings li.no_job_listings_found a div.position h3 {
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-family: "circular";
    letter-spacing: 1px;
}
/* ------------ */

.page-section {
    background: #fff;
}

.section {
    position: relative;
    padding: 70px 0;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
@media (min-width: 992px){
.col-md-4 {
    width: 33.33333%;
}}

@media (min-width: 992px){
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
aside#secondary section.widget {
    padding-left: 0;
}

#secondary .widget {
    background: transparent;
}
#secondary .widget {
    margin-bottom: 20px;
    background: #fff;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding: 0 20px;
    margin: 0 0 50px;
    word-wrap: break-word;
}
.wp-block-search .wp-block-search__label {
    font-weight: 700;
}
.wp-block-search__label {
    width: 100%;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.wp-block-search__inside-wrapper {
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    max-width: 100%;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}
.wp-block-search__input {
    -webkit-appearance: initial;
    appearance: none;
    border: 1px solid #949494;
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    min-width: 3rem;
    padding: 8px;
    text-decoration: unset!important;
}
a, button, .btn, html input[type="button"], input, input[type="reset"], input[type="submit"] {
    outline: 0;
}
input[type="search"] {
    padding-left: 10px;
}

/* input[type="search"] {
} */
input[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.wp-block-search__button {
    border: 1px solid #ccc;
    padding: 0.375em 0.625em;
    border-radius: 6px;
}

.wp-element-button {
    cursor: pointer;
}
.wp-block-search__button {
    margin-left: 10px;
    word-break: normal;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    line-height: 22px;
}
a, button, .btn, html input[type="button"], input, input[type="reset"], input[type="submit"] {
    outline: 0;
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
    box-shadow: none;
    text-shadow: none;
    transition: all .3s ease;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}